.main-div {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #21c491;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-field {
    border: 7px solid black;
    padding: 3px;
    background-color: #aaefd9;
}

.image-div {
    background-color: transparent;
}

.hero-image {
    width: 75px;
    height: 75px;
}

.bullet {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
}

.obstacle {
    position: absolute;
    background-color: black;
}

.start-window {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: rgba(193, 193, 193, 0.7);
}